@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  /* font-family: 'Afacad', sans-serif; */
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Merienda', cursive; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #F6F5F9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}