@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  line-height: 1.5;
  font-weight: 400;
  /* font-family: 'Afacad', sans-serif; */
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Merienda', cursive; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #F6F5F9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.scroll-y-style ,::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scroll-y-style ,::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scroll-y-style ,::-webkit-scrollbar-thumb {
  background: #0084ffc4; 
  border-radius: 10px;
}

/* Handle on hover */
.scroll-y-style ,::-webkit-scrollbar-thumb:hover {
  background: #01529e; 
}

/* ? table */
.table ,::-webkit-scrollbar {
  height: 1px;
  background: #01529e; 
}

/* Track */
.scroll-y-style ,::-webkit-scrollbar-track {
  background-color: #3a68e7;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.table ,::-webkit-scrollbar-thumb {
  background: #01529e; 
   border-radius: 10px;
}

/* Handle on hover */
.table ,::-webkit-scrollbar-thumb:hover {
 }

.text-color-primary{
  color: #353F5B;
}


table{
   background-color: transparent!important;
 }
tbody{
  border: 0!important;
  
}
th{
  background-color: transparent!important;
  border: 0!important;
}
tr{
  border: 0!important;
}
td{
  border: 0!important;
}
.group\/head:first-child .group-first\/head\:last\:rounded-tr-lg:first-child {
    border-top-left-radius: 0px!important;
}
.group\/head:first-child .group-first\/head\:last\:rounded-tr-lg:last-child {
    border-top-right-radius: 0px!important;
}

/* ? animated buttons */
 
.g-btn-1:hover .g-move-bg{
  transform: translateX(96%);
}